################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hackaton_app/.vs/Hackaton_app/v15/.suo
