
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form method="post" action="#">
    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">E-mail:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="mail" placeholder="E-mail">
        </div>
    </div>
    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Password:</label>
        <div class="col-md-10">
            <input type="password" class="form-control" name="pass" id = "pass" placeholder="Password">
        </div>
    </div>

    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Re-Password:</label>
        <div class="col-md-10">
            <input type="password" class="form-control" name="RePass" placeholder="Re-Password" onchange="validate();">
            <div class="alert alert-danger" id="lblRePassword">
                <label id="RePassword">Wrong password</label>
            </div>
        </div>
    </div>

    

    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">First Name:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="fName" placeholder="First Name">
        </div>
    </div>

    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Last Name:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="lName" placeholder="Last name">
        </div>
    </div>


    <button type="button" class="btn btn-secondary btn-lg">Register</button>


</form>

<script>

    document.getElementById("lblRePassword").style.display = 'none';

    function validate() {

        var passVal = document.getElementById("pass").value;
        var repassVal = document.getElementById("RePassword").value;

        if (passVal != passVal) {
            document.getElementById("lblRePassword").style.display = "none";
        } else {
            document.getElementById("lblRePassword").style.display = "inline";
        }
    }
</script>