@{
    ViewBag.Title = "Reset password";
}

<style>
    .city-image {
        background: url(/Content/hotels/hotel-room-1447201_1280.jpg) no-repeat top center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 80vh;
        width: 100%;
        padding-top: 250px;
    }

    .login-bar {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .w-x {
        width: 30% !important;
    }
</style>
<div class="city-image">

    <div class="row">
      
            <div class="card  w-x login-bar">
                <div class="card-header">
                    <h3>Reset password</h3>
                </div>
                <div class="card-block">
                    <form method="post" action="@Url.Action("ForgotPassword", "Auth")">
                        <div class="input-group">
                            <span class="input-group-addon" style="width: 30%">Email</span>
                            <input type="text" class="form-control" required placeholder="Email">
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button style="margin-top: 5px;" type="button" class="btn btn-success float-right">Send password reset instructions</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
   
</div>

