@{
    ViewBag.Title = "Reset password";
}

<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h3>Reset password</h3>
            </div>
            <div class="card-block">
                <form method="post" action="@Url.Action("ForgotPassword", "Auth")">
                    <div class="input-group">
                        <span class="input-group-addon" style="width: 30%">Email</span>
                        <input type="text" class="form-control" required placeholder="Email">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button style="margin-top: 5px;" type="button" class="btn btn-success float-right">Send password reset instructions</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


