@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<form method="post" action="#">
    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">E-mail:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="mail" placeholder="E-mail" required>
        </div>
    </div>
    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Password:</label>
        <div class="col-md-10">
            <input type="password" class="form-control" name="pass" id="pass" placeholder="Password" onfocus="validate();" onchange="validate();" required>
        </div>
    </div>

    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Re-Password:</label>
        <div class="col-md-10">
            <input type="password" class="form-control" name="RePass" id="pass2"placeholder="Re-Password" onfocus="validate();" onchange="validate();" required>
            <div class="alert alert-danger" id="lblRePassword">
                <label id="RePassword">Wrong password</label>
            </div>
        </div>
    </div>



    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">First Name:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="fName" placeholder="First Name" required>
        </div>
    </div>

    <div class="form-group">
        <label for="formGroupInputLarge1" class="col-sm-2 control-label">Last Name:</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="lName" placeholder="Last name" required>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <button style="margin-top: 5px;" type="button" class="btn btn-success">Register</button>
        </div>
    </div>


</form>

<script>

    document.getElementById("lblRePassword").style.display = 'none';

    function validate() {

        var passVal = document.getElementById("pass").value;
        var repassVal = document.getElementById("pass2").value;

        if (passVal == repassVal) {
            document.getElementById("lblRePassword").style.display = "none";
        } else {
            document.getElementById("lblRePassword").style.display = "inline";
        }
    }
</script>
